
name: CI

on: [push]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: "Install Dependencies"
        run: |
          npm ci
      - name: "Build"
        run: |
          npm run build

  test:
    name: "Test Action"
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v5
    - name: "Parse Report"
      uses: raynigon/gradle-owasp-parser@main
      with:
        path_report: "test/report.json"
        path_build_gradle: "test/build.gradle.kts"
